Notification#new_comment

<div>
    Hello,
    <p>You'r profile matches the job requirements! You are invited to have a disscussion with me(<%= @manager %>)</p>
    Thanks,
    <%= @manager %>
</div>
